{% extends "base.html" %}

{% block content %}



            <div class="col-sm-10 ">
                <h1>Uzbek Community | Profil</h1>
                <hr class="m-0">
                <div class="card mt-3 p-3">
                    <div class="position-absolute" style="right: 10px; top:10px">
                        <a href="{% url 'profile' %}">Bekor qilish</a>
                    </div>
                   <form action="" method="POST" enctype="multipart/form-data">
                       {% csrf_token %}
                    {{form}}
                    <button class="btn btn-primary">Saqlash</button>
                   </form>
                </div>
            </div>
        

{% endblock content %}